body{
    margin: 0;
    padding: 0;
    font-family: cursive;
    background: #cdece2;
}
.header {
    background-color: #68726e;
    color: #ffffff;
}

.header-inner {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 800px;
}
h1, h4, h3 {
    display: inline-block;
    padding: 15px;
}
.choose-lists {
    margin: 0 10px;
}
.btn-class {
    margin: 20px 20px 20px 20px;

}
.grid-container {
    width: 450px;
    height: 150px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-gap: 2px;
    background-color: #68726e;
    padding: 2px;
    margin: 0 20px;
    box-shadow: 0 0 10px #68726e;
    text-align: center;
}
.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
}
.demo {
    width: 800px;
    height: 100px;
    border: 1px solid #74857f;
    border-radius: 5px;
    margin: 100px 400px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 5px black;
}
.demo button {
    width: 200px;
    height: 50px;
    margin: 0 300px;   
}
.demo div {
    width: 400px;
    height: 100px;
    border:  1px solid #68726e;
    border-radius: 3px;
    font-size: 50px;
    margin: 50px 200px;
    text-align: center;
    background-color: #b9c4b5;
    box-shadow: 0 0 5px black;
}

#ball {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background: rgb(240, 76, 76);
    border-radius: 50%;
    text-align: center;
    color: yellow;
    position: absolute;
    visibility: hidden;

}


